/* Reset (referenced from Josh Comeau) */

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/* Global variables */

:root {
    --blueColor: rgb(8, 166, 238);
    --greyColor: rgb(181, 189, 193);
    --yellowColor: rgb(238, 155, 0);
}

/* Main styles */

.container {
    display: grid;
    grid: 1fr 5fr / 50px 70px 1fr;
}

/* Sidebar */

.sidebar {
    background-color: var(--blueColor);

}

