/* Reset (referenced from Josh Comeau) */

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  /* display: block; */
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}


/* Fonts */

@font-face {
    font-family: 'Ubuntu';
    src: url('fonts/ubuntu-bold-webfont.woff2') format('woff2'),
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('fonts/ubuntu-light-webfont.woff2') format('woff2'),
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('fonts/ubuntu-medium-webfont.woff2') format('woff2'),
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('fonts/ubuntu-regular-webfont.woff2') format('woff2'),
    font-weight: 400;
    font-style: normal;
}


/* Global */

/* Global variables */
:root {
  --blueColor: rgb(2, 188, 148);
  --greyColor: rgb(225, 236, 235);
  --yellowColor: rgb(255, 0, 98);
}

html, body {
  height: 100%;
}

body {
  font-family: 'Ubuntu', system-ui, sans-serif;
}

/* Main styles */

.container {
  display: grid;
  grid-template: 68px 112px 1fr / 1fr 3.5fr;
  min-height: 100%;
}

button > svg {
  width: 28px;
  height: 28px;
  flex-shrink: 0;
}

.header, .toolbar {
  padding: 2.5rem;
}


/* Sidebar */

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  background-color: var(--blueColor);
  grid-column: 1;
  grid-row: 1 / 4;
  padding: 1.5rem;
  color: white;
  font-weight: 700;
  font-size: 1.4rem;
}

.logo {
  display: flex;
  align-items: center;
}

.logo > svg {
  width: 72px;
  height: auto;
  fill: white;
  /* display: inline-block; */
}

.logo > span {
  font-weight: 700;
  font-size: 2rem;
}


/* Header */

.header {
  grid-column: 2;
  grid-row: 1;
  display: flex;
  justify-content: space-between;
}

.header > * {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.searchbar {
  width: 40em;
  height: 30px;
  background-color: var(--greyColor);
  border-radius: 10px;
}

.personal-corner > img {
  width: 50px;
  height: auto;
  border-radius: 50%;
}

.header button {
  background-color: transparent;
  border: none;
}

/* Toolbar */

.toolbar {
  grid-column: 2;
  grid-row: 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.toolbar > * {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.greeting > img {
  width: 80px;
  height: auto;
  border-radius: 50%;
}

.greeting-text {
  display: inline-block;
}

.action-buttons > button {
  background-color: var(--blueColor);
  color: white;
  font-weight: 700;
  font-size: 1.05rem;
  border-radius: 20px;
  padding: 8px 32px;
  border: none;
}


/* Main Board */

.mainBoard {
  background-color: var(--greyColor);
  grid-column: 2;
  grid-row: 3;
  display: grid;
  grid-template: 1fr 1fr / 3fr 1fr;
  gap: 1.5rem;
  padding: 2rem;
}

.project, .announ-block, .trending-projects {
  background-color: white;
  border-radius: 10px;
  padding: 2rem;
}

.projects {
  grid-column: 1;
  grid-row: 1 / 3;
}

.project-blocks {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.project {
  /* Find different way for line on left to appear */
  border-style: solid;
  border-width: 0;
  border-left-width: 0.5rem;
  border-color: var(--yellowColor);
}

.trending-projects {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.trend {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.trend > img {
  width: 50px;
  height: auto;
  border-radius: 50%;
}

.trend-text {
  display: inline-block;
}
